# Files made by `configure' and friends.
Makefile
autom4te.cache
config.h
config.log
config.status
libtool
stamp-h1

# Files made by compilation.
.deps/
.libs/
*.a
*.la
*.lo
*.o
*.obj
creduce-*.tar.gz

# Files made by Eclipse CDT.
.autotools
.cproject
.project
